.btn-blue {
  background-color: #1EDD88;
  color: white;
  padding: 16px 36px;
  border-radius: 50px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}
.btn-blue:hover {
  background-color: #1bc177;
}